.A4{
    margin:120px;
    padding:80px;
}
.B4{
    margin:110px;
    padding:80px;
}
.C4{
    margin:100px;
    padding:70px;
}
.D4{
    margin:90px;
    padding:60px;
}
.E4{
    margin:80px;
    padding:50px;
}
.F4{
    margin:70px;
    padding:40px;
}
.G4{
    margin:60px;
    padding:30px;
}
.H4{
    margin:50px;
    padding:20px;
}
.I4{
    margin:40px;
    padding:10px;
}
.J4{
    margin:30px;
    padding:0px;
}